<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>YPSI CLOUD RH</title>
	</head>
	<body class="bg-dark">
		<div class="my-5 container text-white">
			<h1 class="text-uppercase">Confirmation de rendez-vous avec le service RH de YPSI</h1>

			<p>
				Bonjour
				{{ contact.lastname|capitalize }},<br/>

				Je vous écris pour confirmer d'un rendez-vous en entretien téléphonique ou en visioconférence.<br/>
				Merci de bien vouloir sélectionner une date dans la liste suivante :
				<br/>
				<br/>

				{% if contact.management.contactAdministrationMeeting.proposedDates %}

					{% for item in contact.management.contactAdministrationMeeting.proposedDates %}

						<a href="https://cloud-rh.ypsi.dev/validate/date/{{contact.id}}/{{item.uid}}" target="_blank">{{item.newDate | date("d/m/Y H:i:s")}}</a>
						<br/>

					{% endfor %}
				{% endif %}

				<br/>
				<br/>
				Une fois votre date sélectionnée, merci de bien vouloir cliquer sur le lien (nombre de tentative : 1).<br/>
				Notre agenda sera alors automatiquement mis à jour.
				<br/>

				Au plaisir de vous y rencontrer.<br/><br/>

				<strong>YPSI CLOUD RH</strong>
			</p>
		</div>
	</body>
</html>
